{% extends "base.twig" %}

{% block title %}Cookies page{% endblock %}

{% block content %}
    {% if not isAdvised %}
        <h1>Give me all your cookies!!!</h1>
    {% endif %}
{% endblock %}