{% extends 'base.twig' %}

{% block title %}Simple form{% endblock %}

{% block content %}
    <form action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">
        <input type="text"
               name="email"
               value="{% if formData.email %}{{ formData.email }}{% endif %}">
        {% if formErrors.email %}
            <p style="color: red;">{{ formErrors.email }}</p>
        {% endif %}
        <input type="submit" value="Send">
    </form>
{% endblock %}